{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 bg_image">
                <div class="text-center"><h1 class="connect about-us-text"><b>About Us</b></h1></div>
                
                <div class="container form-box">
                    <div class="about-us-image text-center">
                        <h1>The farming community has always been a backbone for countries as they provide food to its people and support the Economy. A good rainfall, and as a result higher agricultural output, can boost any agrarian country’s economic growth. 
                            It has been an age old science in India to predict various results based on the Panchang and Planetary positions. Especially the rainfall/precipitation related predictions have been followed in the Indian agriculture practices for many years.
                            As weather prediction science has progressed, it is still difficult to get very accurate predictions about weather for a longer duration like a farming season or a year. 
                            So, as for our research we have tried understanding Panchang (The Hindu almanac) and the Invaluable meteorological “Rainfall Predictions” it provides.</h1>
                    </div>
                    

                    <div class="section1">            
                        <div class="col-md-12 col-xs-12 box-2">
                            <div class="col-md-6 col-xs-4 a-t">
                                <p class="a_para_2">The research done in Makers Lab, Tech Mahindra showed that there is a possibility to dip into 
                                    this ancient wisdom and predict the weather for not only India but also across the world. 
                                    This research is being published and is available at ...></p>
                            </div>
                            <div class="col-md-6 col-xs-9 a-t">
                                <img src="{% static 'images/imgLogo/Makers Lab & Tech Mahindra logo (3) 1.png' %}" alt="">
                            </div>
                            
                        </div>
                    </div>

                    <div class="section2">            
                        <div class="col-md-12 col-xs-12 box-2">                        
                            <div class="col-md-6 col-xs-8 a-t">
                                <img class="a-img2" src="{% static 'images/imgLogo/image 4.png' %}" alt="">
                            </div>

                            <div class="col-md-6 col-xs-4 a-t">
                                <p class="a_para_2">The aim of Panchang Intelligence is to combine time-bound knowledge with latest technology, to help our farmers predict rainfall.
                                    This website takes this research beyond the papers and makes these results available for anyone who would like to try it out. It may be useful for a farmer to check the weather predictions for her next season. He may also consider the same for the next 5 years and create a tentative plan for his farm.</p>
                            
                                <p class="a_para_2">The beauty of this website is that you can get the results for a specific location, for an year as an individual.
                                    For enterprises interested in similar information, we are also offering an API based interface which can be used for getting the predictions for a larger scope and time duration.</p>
                            </div>

                        </div>

                        <p class="a_note1">Note: Our aim is not to challenge anybody’s prediction, but to give this as an additional option if someone willingly wants to follow or compare the Panchang rainfall prediction.</p>
                    </div>
                </div>

                <!-- Section 2 start -->
                <div class="container form-box ">
                    <div class="container form-box a-contain2">
                            <p class="a-s2-para">What is Panchang? </p>
                    </div>

                    <div class="container form-box a-contain3">
                        <p class="a-s3-para">Panchang is the traditional Hindu calendar and almanac, which follows traditional units of Hindu timekeeping, and presents important dates and their calculations in a tabulated form. Panchang has been in practice for 5,000 years. Invaluable meteorological rainfall predictions are enshrined in it. 
                            They are generalized over a region, based on astrological phenomena like planet-star conjunctions, transits, Planetary reign, etc.</p>
                    </div>

                    <div class="container form-box a-contain3">
                        <p class="a-s3-para">Sanskrit word “Panchang” means ‘the one which consists of five organs/limbs’, Panch (Five)+ Ang (Limbs)</p>
                    </div>

                    <div class="division1 col-lg-12"></div>

                    <h2 class="a-h2"><b>Five components of Panchang:</b></h2>

                    <div class="section10">                     
                        <div class="col-md-12 col-xs-12 box-3">
                           <p class="a-n">Tithi(Lunar Day)</p>
                        </div>
                        <div class="division3 col-xs-8"></div>
                        <div class="col-md-12 col-xs-12 box-3">
                            <p class="a-n">Vaaram(Solar Day)</p>
                         </div>
                         <div class="division3 col-xs-8"></div>
                         <div class="col-md-12 col-xs-12 box-3">
                            <p class="a-n1">Nakshatram (Star Cluster in which moon is placed/aligned<br> at that particular time)</p>
                         </div>
                         <div class="division3 col-xs-8"></div>
                         <div class="col-md-12 col-xs-12 box-3">
                            <p class="a-n1">Yogam(Auspiciousness)</p>
                         </div>
                         <div class="division3 col-xs-8"></div>
                         <div class="col-md-12 col-xs-12 box-3">
                            <p class="a-n">Karanam(half a Tithi)</p>
                         </div>
                        <div class="division3 col-xs-8"></div>

                    
                    </div>   
                </div>

                <!-- Section 3 start -->
                <!-- <div class="container form-box c3"> -->
                    <div class="container image-2-container">
                        <div class="container about-us-image-2 text-center">
                        <p>The Nakshatra-Rashi chart together with planetary positions including sun and moon generate these 5 elements of Panchang.</p><br>
                        <div class="division3 col-xs-8"></div>
                        <p>A typical Panchang may state tabulations of positions of Sun, Moon, and other planets for every day of the year on a fixed place 
                            (longitude, latitude) and time of day (in 24-hour format IST). The users calculate the remaining data using their relative difference from this fixed place and time.</p>
                        <div class="division3 col-xs-8"></div>
                        <p>Panchang year starts from Chaitram (April) and ends with Phaalgunam (March)</p>
                        </div>
                        </div>
                </div>

                
                

            </div>
        </div>


    </div>
{% endblock %}


<!--  -->
