{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Panchang Intelligence</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@100&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="{% static 'css/all_style.css' %}">


    <link rel="stylesheet" href="{% static 'css/leaflet.css' %}">
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.css" />-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.js"></script>-->

<!--    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"-->
<!--  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="-->
<!--  crossorigin=""/>-->
<!--<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"-->
<!--  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="-->
<!--  crossorigin=""></script>-->

    <link rel="stylesheet" href="{% static 'css/Control.Geocoder.css' %}" />
<!--    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"   >
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <link rel="stylesheet" href="{% static 'css/family.css' %}">
<!--     <link rel="stylesheet" href="{% static 'css/bootstrap1.min.css' %}" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"  >-->

    <link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/compare.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/references.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/result.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/policy.css' %}">

    <!-- Javascript -->
    <script src="{% static 'js/jquery.min.js' %}" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->

    <script src="{% static 'js/popper.min.js' %}" ></script>
     <script src="{% static 'js/bootstrap.min.js' %}" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'js/leaflet.js' %}"></script>

    <script src="{% static 'js/Control.Geocoder.js' %}"></script>
<!--    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>-->

<script>
        window.scanty_bg_img_path = "{% static 'images/CreativeThoroughHarvestmouse-max-1mb.gif' %}";
        console.log(window.scanty_bg_img_path);

    </script>
    <style>
        .navbar-nav > li > a {
        font-size: 1.5rem;      font-weight: bold;
        }
        .container-fluid { padding-right: 30px; padding-left: 30px;}
        .h1, h1 { font-size: 1.5rem}
        .h4, h4 {
            font-size: 1.0rem;
        }

    </style>
</head>

<body>

    <div class="container-fluid" style="padding-right:0%; padding-left:0%; margin-left:0%; margin-right:0%;">
        <header class="header" style="background-color:white; margin-top: 0%; margin-bottom: 0%; min-height:100%;">
            <nav class="navbar navbar-expand-md bg-light navbar-light" style="margin-top: 0%;margin-bottom: 1%;">
                    <a class="navbar-brand" href="{% url 'weather:home' %}"><img src="{% static 'images/imgLogo/logo1.png' %}"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsenavbar"> <span class="navbar-toggler-icon" > </span></button>
                    <div class="collapse navbar-collapse text-center" id="collapsenavbar">
                        <ul class="navbar-nav ml-auto  justify-content-between">
                            <li class="nav-item active"><a class="nav-link " href="{% url 'weather:home' %}" >Home <span class="sr-only">(current)</span></a></li>
                            <li class="nav-item"><a class="nav-link text-black" href="{% url 'weather:about' %}" >About us</a></li>
                            <li class="nav-item"><a class="nav-link text-black" href="{% url 'weather:compare' %}">Compare</a></li>
                            <li class="nav-item"><a class="nav-link text-black" href="{% url 'weather:references' %}">References</a></li>
                            <li class="nav-item"><a class="nav-link text-black" href="{% url 'weather:contact' %}">Contact us</a></li>
                        </ul>
                    </div>
            </nav>
        </header>
    </div>
    {% block content %}

    {% endblock %}

    <div class="container-fluid" style="padding-right:0%; padding-left:0%; margin-left:0%; margin-right:0%;">
        <!--footer-->
            <footer class="foot" id="sticky-footer" style="margin-top: 40px; width: 100%; height: 25.0rem;">
                <div class="container">
                    <div class="row text-center d-flex justify-content-center pt-5 mx-auto ">
                            <div style="position: absolute;">
                                <img src="{% static 'images/imgLogo/Logo_white.png' %} ">
                            </div>

                    </div>
                        
                    <!-- Grid row-->
                    <div class="row text-center d-flex justify-content-center pt-5 mx-auto mt-5 ">
                      <!-- Grid column -->
                      <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold h4">
                          <a href="{% url 'weather:about' %}" class="text-white">About us</a>
                        </h6>
                      </div>
                      <!-- Grid column -->

                      <!-- Grid column -->
                      <div class="col-md-1">
                        <h6 class="text-uppercase font-weight-bold h4">
                          <a href="{% url 'weather:policy' %}" class="text-white">Features</a>
                        </h6>
                      </div>
                      <!-- Grid column -->

                      <!-- Grid column -->
                      <div class="col-md-1">
                        <h6 class="text-uppercase font-weight-bold h4">
                          <a href="{% url 'weather:contact' %}" class="text-white">Connect</a>
                        </h6>
                      </div>
                      <!-- Grid column -->

                      <!-- Grid column -->
                      <div class="col-md-1">
                        <h6 class="text-uppercase font-weight-bold h4">
                          <a href="{% url 'weather:contact' %}" class="text-white">Help</a>
                        </h6>
                      </div>
                      <!-- Grid column -->

                      <!-- Grid column -->
                      <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold h4">
                          <a href="{% url 'weather:policy' %}" class="text-white">Privacy Policy</a>
                        </h6>
                      </div>
                      <!-- Grid column -->
                    </div>
                    <!-- Grid row-->
          
                    <!-- Section: Links -->

                    <hr class="my-5 white" />

                    <div class="row" style="font-size:15px;">
                        <div class="col-md-6 col-sm-6 col-xs-6 text-white">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="pull-left">
                                        <p><i class="fa fa-copyright text-white"></i> 2021 Panchang Intelligence</p>
                                    </div>
                                </div>
                                <div class="col-md-4">

                                </div>
                                <div class="col-md-2">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">

                                <div class="row">
                                    <div class="col-md-4">

                                    </div>
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-5">
                                        <div class="row">
                                            <div class="col-2"><a href="https://www.instagram.com/"> <img src="{% static 'images/pin1.png' %}" class="foot_link1"> </a></div>
                                            <div class="col-2"><a href="https://twitter.com/LOGIN/"> <img src="{% static 'images/pin2.png' %}" class="foot_link2"> </a></div>
                                            <div class="col-2"><a href="https://www.youtube.com/"> <img src="{% static 'images/pin3.png' %}" class="foot_link3"> </a></div>
                                        </div>
                                    </div>
                                </div>



                        </div>

                    </div>
                </div>
            </footer>
        </div>
    </body>

    </html>