{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid ">
    <div class="row ">
        <div class="col-md-12 bg_image">
            <div class="text-center"><h1 class="connect"><b>Disclaimer and Privacy Policy</b></h1></div>
            <div class="container form-box">
                <div class="text-center">
                    <p class="policy-para">All the information on this website - PanchangIntelligence.org - is published in good faith and for general information purpose only. Panchang Intelligence does not make any warranties about the completeness, reliability and accuracy of this information. Any action you take upon the information you find on this website (Panchang Intelligence), is strictly at your own risk. Panchang Intelligence will not be liable for any losses and/or damages in connection with the use of our website.</p>
                    <div class="division3 col-xs-8"></div>
                    <p class="policy-para">From our website, you can visit other websites by following hyperlinks to such external sites. While we strive to provide only quality links to useful and ethical websites, we have no control over the content and nature of these sites. These links to other websites do not imply a recommendation for all the content found on these sites. Site owners and content may change without notice and may occur before we have the opportunity to remove a link which may have gone 'bad'.</p>
                    <div class="division3 col-xs-8"></div>
                    <p class="policy-para">Should we update, amend or make any changes to this document, those changes will be prominently posted here.</p>
                </div>
           </div>
           <div class="container form-box">
            <p class="policy-para">By using our website, you hereby consent to our disclaimer and agree to its terms.</p>
            <button class="policy-btn text-center" onclick="location.href='/weather/home';">Continue</button>
           </div>
        </div>
    </div>
</div> 



{% endblock %}

<!-- <div class="container-fluid">
    <div class="row" style="width: 100%; height: 1200px">
        <div class="all_container">
            <div class="color-overlay"></div>
            <div class="p_today"><h1 class="p_head">Disclaimer and Privacy Policy</h1></div>
        </div>

        <div class="p_policy-box">
            <p class="p_p1">All the information on this website - PanchangIntelligence.org - is published in good faith and for general information purpose only. Panchang Intelligence does not make any warranties about the completeness, reliability and accuracy of this information. Any action you take upon the information you find on this website (Panchang Intelligence), is strictly at your own risk. Panchang Intelligence will not be liable for any losses and/or damages in connection with the use of our website.</p>
            <div class="p_hr1"></div>
            <p class="p_p2">From our website, you can visit other websites by following hyperlinks to such external sites. While we strive to provide only quality links to useful and ethical websites, we have no control over the content and nature of these sites. These links to other websites do not imply a recommendation for all the content found on these sites. Site owners and content may change without notice and may occur before we have the opportunity to remove a link which may have gone 'bad'.</p>
            <div class="p_hr2"></div>
            <p class="p_p3">Should we update, amend or make any changes to this document, those changes will be prominently posted here.</p>
        </div>

        <div class="p_continue">
            <div class="p_row">
                <div><p>By using our website, you hereby consent to our disclaimer and agree to its terms.</p></div>
                <div class="p_btn"><button>Continue</button></div>
            </div>
        </div>
    </div>
</div> -->