{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid reference-page">
    <div class="row">
        <div class="col-md-12 bg_image">

            <div class="text-center"><h1 class="connect"><b>References</b></h1></div>
            <div class="container form-box">
                <div class="text-center"><p class="compare-p">We followed our research with the help of below references: </p></div>
                <div class="division col-xs-offset-4"></div>
                <div class="col-lg-12">
                    <div class="col-md-12 col-xs-9 website-links">
                        <p class="text-center reference-p"><b>Indian Journal of Science and Technology.</b></p>
                    </div>
                    <div class="col-md-12 col-xs-10 reference-link">
                        <a href="https://www.researchgate.net/publication/229449364_Meteorological_predictions_preserved_in_the_Panchangam_versus_real-time_observations_-_a_case_study_over_Tirupati_region_-_a_semi-arid_tropical_site_in_India ">
                            Meteorological_predictions_preserved_in
                            _the_Panchangam_versus_real-time_observations_-_a_case_study_over_Tirupati_region_-_a_semi-arid_tropical_site_in_India </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}



                    